/* Importamos la fuente 'Poppins' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*RESET Y CONFIGURACIÓN GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Fondo degradado moderno (Verde a Rosa) */
    background: linear-gradient(135deg, #7fd86d 0%, #a547a8 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contenedor formularios */
.card {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px; /* Ancho máximo para que no se estire demasiado */
    text-align: center;
}

.card h1 {
    color: #333;
    margin-bottom: 30px;
    font-weight: 600;
}

/*Campos de texto formularios */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #e1e1e1;
    border-radius: 8px;
    outline: none; /* Quita el borde azul por defecto del navegador */
    transition: 0.3s;
    font-size: 16px;
}

/* efecto al hacer clic dentro del input */
input:focus {
    border-color: #764ba2;
}

/* boton formularios*/
button {
    width: 100%;
    padding: 12px;
    background: #a547a8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

/* efecto al pasar el ratón sobre el botón */
button:hover {
    background: #7fd86d;
    transform: translateY(-2px); /* Pequeña elevación */
}

/* enlace inferior formularios */
.footer-text {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.footer-text a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.footer-text a:hover {
    text-decoration: underline;
}

/* Estilo botón de cerrar sesión */
.btn-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 35px;
    background-color: #ff4757; 
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 20px;
}

.btn-logout:hover {
    background-color: #e84118;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(255, 71, 87, 0.4);
}