/* Estilos generales */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-image: url(fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    justify-content: center;
}

/* Contenedor principal (la "tarjeta") */
.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgb(255, 255, 255);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

/* Título */
h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 0;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
}

/* Etiquetas (Usuario, Contraseña) */
label {
    font-size: 0.9rem;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 15px;
}

/* Campos de texto y contraseña */
input[type="text"],
input[type="password"] {
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    width: 100%;
}

/* Botón */
button[type="submit"] {
    background-color: #ff00c8;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
    border: none;
    padding: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.2s ease;
    width: 50%;
    /*Para centrar el botón*/
    display: block;
    margin-left:auto;
    margin-right: auto;
    
}

button[type="submit"]:hover {
    background-color: #0056b3;/*Cambia a color azul al pasar el ratón*/
}

/* Párrafos y enlaces "¿Ya tienes cuenta?" */
p {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

a {
    color: #ff00c8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /*Subraya la frase al pasar el ratón*/
}