.login-box{
position: relative;
width: 200px;
height: 200px;
background: transparent;
border: 2px solid rgb(255, 255, 255);
border-radius: 50px;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(15px);
}
section{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
background-image: url(bg.jpg);
background-size: contain;
background-position: center;
animation: animateBg 5s linear infinite;
}
/*Cambio color Registrate aqui*/
@keyframes animateBg{
  100%{
    filter: hue-rotate(360deg);
  }
}
.login-box{
  position: relative;
  width: 300px;
  height: 150px;
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
}