/* Estilos generales para el body*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;/*Fuente de letra*/
    background-image: url(../Imagenes/fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;/*Formato Fondo*/
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}



/* Título */
h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 0;
}

/* Posición de los Formularios */
form {
    display: flex;
    flex-direction: column;
}

/* Etiquetas Usuario y Contraseña */
label {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 15px;
}

/* Campos de texto y contraseña */
input[type="text"],
input[type="password"] {
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    width: 100%;
}

/* Botón */
button[type="submit"] {
    background-color: #ff00c8;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
    border: none;
    padding: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.2s ease;
    width: 50%;
    /*Para centrar el botón*/
    display: block;
    margin-left:auto;
    margin-right: auto;
    
}

button[type="submit"]:hover {
    background-color: #0056b3;/*Cambia a color azul al pasar el ratón*/
}

/* Párrafos y enlaces "Ya tienes cuenta?" */
p {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
}

a {
    color: #ff00c8; /*Fuente para modificar el enlace de "Ya tienes cuenta?"*/
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /*Subraya la frase al pasar el ratón*/
}

.modal-overlay {
            position: fixed; /* Se queda fijo en la pantalla */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            
            /* Centra la ventana */
            display: flex;
            justify-content: center;
            align-items: center;
            
            /* Oculto por defecto */
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease;
            z-index: 1000; /* Asegura que esté por encima de todo */
        }

        /* Clase para MOSTRAR el modal */
        .modal-overlay.show {
            opacity: 1;
            visibility: visible;
        }

        /* Estilo ventana */
        .modal-content {
            background-image: 
        /* Capa 1: Un velo oscuro semitransparente */
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        
        /* Capa 2: Imagen de fondo */
        url('../Imagenes/ventana-error-exito.jpg');
            background-size: cover;
            background-position: center;
            color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
            max-width: 400px;
            width: 90%;
            box-sizing: border-box;
            text-align: center;
            color: #333;
        }
        /*Estilo titulo menaje*/
        .modal-content h3 {
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 1.1rem;
            color: #ffffffff;
        }
        /*Estilo texto mensaje*/
        .modal-content p {
            color: #ffffffff;
            margin-top: 0;
            margin-bottom: 25px;
            font-size: 1rem;
        }

        /* Contenedor para alinear el botón en el centro */
        .modal-actions {
            text-align: center;
        }

        /* Botón "OK" */
        #modal-close-btn {
            background-color: #ff00c8;
            color: white;
            font-size: 0.9rem;
            font-weight: bold;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }

        #modal-close-btn:hover {
            background-color: #0056b3;
        }